@import models.Team
@(teams: List[Team])

@layout.default("Teams") {
  <section class="content-header">
    <div class="row">
      <div class="col-8">
        <h1>Teams</h1>
      </div>
      <div class="col-4 text-right">
        <a href="@routes.TeamsController.add()" class="btn btn-sm btn-link">
          <i class="fa fa-plus"></i>
          Add
        </a>
      </div>
    </div>
  </section>

  <section class="content">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <table class="table table-striped">
              <colgroup>
                <col width="10%">
                <col>
                <col width="10%">
              </colgroup>
              <thead>
                <tr>
                  <th scope="col">No</th>
                  <th scope="col">Name</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                @for(team <- teams) {
                  <tr>
                    <th scope="row">@team.no</td>
                    <td>@team.name</td>
                    <td>
                      <a href="@routes.TeamsController.show(team.id)" class="btn btn-sm btn-info">
                        <i class="fa fa-sticky-note"></i>
                      </a>
                    </td>
                  </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
}
